GestionStock.Business/bin/
GestionStock.Business/obj/
GestionStock.Core.Data/bin/
GestionStock.Core.Data/obj/
GestionStock.Core.DataEF/bin/
GestionStock.Core.DataEF/obj/
GestionStock.Entities/bin/
GestionStock.Entities/obj/
TPIProg3GestionStock/bin/
TPIProg3GestionStock/obj/
GestionStock.Core.Configuration/bin/
GestionStock.Core.Configuration/obj/
WebAppGestionStock/bin/
WebAppGestionStock/obj/
.vs/