@model List<GestionStock.Core.Entities.Usuario>;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>USUARIOS</h1>

<ul>
    @foreach (var usu in Model)
    {
        <li>Usuario id: @usu.nombre (@usu.usuarioId) </li>
    }

</ul>

