html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
th {
    
    font-weight: bolder; 
    background: lightblue;
}
table {
    width: 100%;
    border: 1px solid #999;
}

}
li{ 
    background-color: lightblue;
}

a {
    display: flex;
    justify-content: center;
}



h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #666;
    font-weight: bold;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

    input:focus {
        border-color: #87cefa;
        outline: none;
        box-shadow: 0 0 5px rgba(135, 206, 250, 0.5);
    }

button.btn-primary, a.btn-secondary {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s;
    margin-right: 10px;
}

    button.btn-primary:hover, a.btn-secondary:hover {
        background-color: #0056b3;
    }

a.btn-secondary {
    background-color: #6c757d;
}

    a.btn-secondary:hover {
        background-color: #565e64;
    }

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.table-custom {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

    .table-custom thead {
        background-color: #007bff;
        color: #fff;
    }

    .table-custom th, .table-custom td {
        padding: 12px 15px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    .table-custom tbody tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .table-custom tbody tr:hover {
        background-color: #e9f5ff;
    }

    .table-custom th {
        border-top: none;
        border-bottom: 2px solid #007bff;
    }



 

.mb-3 {
    margin-bottom: 20px;
}
