@model ProductoStockViewModel
@{
    ViewData["Title"] = "Stock";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Stock</h1>

<h4>El stock del producto es de @Model.CantidadProductoStock unidades</h4>

