@model GestionStock.Core.Entities.Compra;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <div class="row">
    <div class="col-sm-8 offset-sm-2">
        <div>
            @if (TempData["SucessMessage"] != null)
            {
                <div class="alert alert-success">
                    @TempData["SuccessMessage"]
                </div>
            }

            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger">
                    @TempData["ErrorMessage"]
                </div>
            }
        </div>
        <h2>Nueva compra</h2>
        <form asp-controller="Compra" asp-action="NuevaCompra" method="post">
            <div class="mb-3">
                <label asp-for="fecha"></label>
                <input asp-for="fecha" id="InputFecha">
            </div>
            <div class="mb-3">
                <label asp-for="productoId"></label>
                <input asp-for="productoId" id="InputProductoId">
            </div>
            <div class="mb-3">
                <label asp-for="cantidad"></label>
                <input asp-for="cantidad" id="InputCantidad">

            </div>
            <div class="mb-3">
                <button class="btn btn-primary" type="submit">Guardar</button>
                <a asp-controller="Compra" asp-action="Lista" class="btn btn-primary">Volver</a>
            </div>

        </form>

    </div>
